mat-card-title {
  text-align: center;
}

mat-card-content {
  display: flex;
  flex-direction: row;
}

.portail-card {
  background: radial-gradient(ellipse at top, #504343, transparent),
            radial-gradient(ellipse at bottom, #0c5a9f, transparent);
  width: 100%;
}

.zones {
  display: flex;
  justify-content: space-evenly;
}
