<section class="farm-container" id="zoneNom">
  <h2>{{ zone.nom }}</h2>
  <section class="entite-container">
    <article class="personnage-container">
      <article class="personnage-informations">
        <span
          >{{ personnage.nom }}
          <b>Lv.{{ statistiquePersonnage.niveau }}</b></span
        >
        <span
          >{{ viePersonnage | number }} / {{ statistiquePersonnage.vie }}</span
        >
        <mat-progress-bar
          id="viePersonnage"
          [value]="getPercentVie(viePersonnage, statistiquePersonnage.vie)"
        ></mat-progress-bar>
      </article>
    </article>
    <span class="vs"> VS </span>
    <div class="monstre-container">
      <article
        class="monstre-informations"
        *ngIf="monstreActuel && monstreActuel.nom; else elseBlock"
      >
        <span
          >{{ monstreActuel.nom }}
          <b>Lv.{{ statistiqueMonstre.niveau }}</b></span
        >
        <br />
        <span>{{ vieMonstre | number }} / {{ statistiqueMonstre.vie }}</span>
        <mat-progress-bar
          id="vieMonstre"
          [value]="getPercentVie(vieMonstre, statistiqueMonstre.vie)"
        ></mat-progress-bar>
      </article>
      <ng-template #elseBlock>aucun monstre</ng-template>
    </div>
  </section>
</section>
