<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Equipement">
    <section class="inventaire-equipement-container">
      <mat-grid-list cols="5" rowHeight="5:1">
        <mat-grid-tile *ngFor="let equipement of inventaireEquipement">{{equipement.nom}} : x{{equipement.quantite}}</mat-grid-tile>
      </mat-grid-list>
    </section>
  </mat-tab>
  <mat-tab label="Consommable"></mat-tab>
  <section class="inventaire-consommable-container">
    <mat-grid-list cols="5" rowHeight="5:1">
      <!-- <mat-grid-tile *ngFor="let ressource of inventaireRessource">{{ressource.ressource.nom}} : x{{ressource.quantite}}</mat-grid-tile> -->
    </mat-grid-list>
  </section>
  <mat-tab label="Ressource">
    <section class="inventaire-ressource-container">
      <mat-grid-list cols="8" rowHeight="5:1">
        <mat-grid-tile *ngFor="let ressource of inventaireRessource">
          <mat-card class="inventaire-ressource-card">
            <app-ressource [ressource]="ressource"></app-ressource>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </section>
  </mat-tab>
</mat-tab-group>
