<mat-card class="monstre-container">
  <mat-card-title>{{monstre.nom}}</mat-card-title>

  <mat-card-content>
    <div class="resistance-content">
      <span>
        Resistances
      </span>
      <app-resistances [idStatistique]="monstre.idStatistique" class="resistance-item"></app-resistances>
    </div>
    <div class="ressource-content">
      <span>
        Ressources
      </span>

      <mat-list class="ressource">
        <mat-list-item ><app-ressource [ressource]="ressource" *ngFor="let ressource of ressources"> </app-ressource></mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
