mat-card {
  margin-top: 6px;
}

mat-card-title {
  text-align: center;
}

mat-card-content {
  display: flex;
}

app-ressource {
  margin-left: 5px;
  margin-right: 5px;
}

.resistance-content {
  width: 50%;
}

.ressource-content {
  display: flex;
  flex-direction: column;
}

.ressource {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.monstre-container {
  background-color: rgb(180, 180, 180);
}
